﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master.Master" CodeBehind="Home.aspx.vb" Inherits="WebApplication.Home" %>
<asp:Content ID="Content3" ContentPlaceHolderID="Content" runat="server">
    <div class="content">
        <div class="LinksContent">
            <nav class="LinkMenu"> 
                <ul class="parent-menu-link"> 
                    <li><a href="https://rhu227.veracore.com/VeraCore/Home/">Veracore</a> </li>
                    <li><a href="#">ShipStore</a> 
                        <ul> 
                            <li><a href="#">SS Merchant Application</a></li> 
                        </ul>
                    </li> 
                    <li><a href="#">WMS Tools</a></li>
                    <li><a href="#">Freight Reports</a></li>
                    <li><a href="#">Recources</a> 
                        <ul>
                            <li><a href="#">App Intalls</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>                    
        </div>
    </div>
</asp:Content>
