/* If you want to add your own CSS code, please do it in this file */

/************************* demo *************************/

.the_content img.demo { border-radius:4px; border:1px solid #EEE;}

.the-icons li { font-size: 13px; line-height:30px;}
.the-icons li [class^="icon-"], li [class*=" icon-"] { color: #3E3E3E; font-size: 18px;}

.layout-full-width { background-image:none !important;}


#configurator { color:#213442 !important; background:#fff; width: 190px; border: 1px solid #ddd; position: fixed; left: -192px; top: 90px; background: #fff; z-index: 9000; color: #515E6C; line-height: 21px; font-size: 13px;}
#configurator form { margin-bottom:0; text-align:center;}
#configurator select { background:none; box-shadow:0 0 0; margin-bottom:10px; padding: 3px; color:#213442;}
#configurator .control { display:block; width:48px; height:48px; position:absolute; top:-1px; right:-49px; background:#fff url(../images/configurator/ico.png) no-repeat center; border: 1px solid #ddd; border-left:none; text-indent:-9999px;}
#configurator .inside { padding:10px;}
#configurator .header { text-align:center; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #eee;}

#configurator ul.image-select { margin-bottom:5px;}
#configurator ul.image-select li { display:block; float:left; margin:2px; border:1px solid #eee; }
#configurator ul.image-select li a { display:block; width:24px; height:24px; float:left; text-indent:-9999px; margin:2px; background-image:url(../images/configurator/image-select-overlay.png);}
#configurator ul.image-select li:hover { border-color:#ccc;}

#configurator ul.image-select.select-image li a,
#configurator ul.image-select.select-pattern li a { text-indent:0; }
#configurator ul.image-select.select-pattern li a img { width:24px; height:24px; }

#configurator p { line-height:16px; margin-bottom:5px;}

@media only screen and (max-width: 768px){
	#configurator { display:none;}
}

/************************ /demo *************************/
