
/********************** Backgrounds **********************/

	.mfn-color-1 { background-color: #2a2f35; }
	.mfn-color-2 { background-color: #3e444b; }
	.mfn-color-3 { background-color: #41913c; }
	.mfn-color-4 { background-color: #e9cc2f; }
	.mfn-color-5 { background-color: #41913c; }

	
/********************* Colors *********************/

/* Content font */

	body, .ui-tabs .ui-tabs-nav li a, .ui-accordion h3 a, .widget ul.menu li a,
	.widget_links ul li a, .widget_meta ul li a {
		color: #676f76;
	}
	
/* Links color */

	a, a:visited, .widget ul.menu li a:hover, .widget ul.menu li.current_page_item a, 
	.widget ul.menu li.current_page_item a i, .widget ul.menu li a:hover i,
	.widget_links ul li a:hover, .widget_meta ul li a:hover, .testimonial .rslides_tabs li.rslides_here a, .testimonial .rslides_tabs li a:hover,
	.pager a.active, .pager a:hover.page, .Our_clients_slider a:hover.Our_clients_slider_prev, .Our_clients_slider a:hover.Our_clients_slider_next {
		color: #41913c;
	}
	
	a:hover {
		color: #41913c;
	}
	
/* Strong (dark) */
	.Recent_comments ul li strong, #Content .Latest_posts ul li a.title,  
	#Content .Latest_posts ul li p i, .Recent_comments ul li p strong,
	.Recent_comments ul li p i, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
	.ui-accordion h3.ui-state-active a, .Twitter ul li span {
		color: #31373c;
	}
	
/* Dark blue */
	
	blockquote div.text p, .get_in_touch li.phone p, .pricing-box .plan-inside ul li strong,
	.error h4, .team p, blockquote p.author span {
		color: #005274;
	}
	
/* Grey notes */

	.Twitter ul li > a, .Recent_comments li span.date, .Latest_posts span.date, .get_in_touch li.label,
	.wp-caption .wp-caption-text, .pricing-box .plan-header .period, .post .meta, 
	.widget_categories li, .widget ul.menu li a i, .testimonial .rslides_tabs li a, .pager a,
	.Our_clients_slider a.Our_clients_slider_prev, .Our_clients_slider a.Our_clients_slider_next,
	.post .desc .r_meta, .single-post .tag-cat .category a, .single-post .tag-cat .category { 
		color: #A3A3A3;
	}
	
/* Headings font */

	h1, h1 a { color: #313131; }
	h2, h2 a { color: #313131; }
	h3, h3 a { color: #313131; }
	h4, h4 a { color: #313131; }
	h5, h5 a { color: #41913c; }
	h6, h6 a { color: #31373c; }
	

/* Menu color */

	#Header #menu > ul > li > a {
		color: #213442;
	}
	
	#Header #menu > ul > li > a span {
		color: #272620;
	}
	
	#Header #menu > ul > li.current-menu-item > a,
	#Header #menu > ul > li.current_page_item > a,
	#Header #menu > ul > li.current-menu-ancestor > a,
	#Header #menu > ul > li.current_page_ancestor > a {
		color: #41913c;
	}
	
	#Header #menu > ul > li.current-menu-item > a span,
	#Header #menu > ul > li.current_page_item > a span,
	#Header #menu > ul > li.current-menu-ancestor > a span,
	#Header #menu > ul > li.current_page_ancestor > a span {
		color: #41913c;
	}
	
	#Header #menu > ul > li > a:hover,
	#Header #menu > ul > li.hover > a {
		border-color: #e5e5e5;	
	}
	
	#Header #menu > ul > li > a:hover span,
	#Header #menu > ul > li.hover > a span {
		color: #053f57;
	}
	
	#Header #menu > ul > li.submenu > a:hover,
	#Header #menu > ul > li.submenu.hover > a {
		color: #fff;
		background: #41913c;
		border-color: #41913c;
	}
	
	#Header #menu > ul > li ul {
		background: #41913c;
	}
		
	#Header #menu > ul > li ul li a {
		color: #fff;
		border-color: #ffffff;
	} 
	
	#Header #menu > ul > li ul li a:hover, 
	#Header #menu > ul > li ul li.hover > a {
		color: #ffffff;
	}
	
/* Header addons */
	
	#Header .addons p.phone i,
	#Header .addons p.mail i {
		color: #40464d;
	}
	
	#Header .addons p.phone {
		color: #40464d;
	}
	
	#Header .addons p.phone span {
		color: #b0b0b0;
	}
	
/* Subheader */
	#Subheader {
		background-color: #fbd626;
		border-color: #41913c;
	}

	#Subheader h1 { 
		color: #ffffff;
	}
	
	#Subheader ul.breadcrumbs li,
	#Subheader ul.breadcrumbs li a { 
		color: #ffffff;
	}
	
	#Subheader ul.breadcrumbs li span {
		color: #41913c;
	}
	
/* Frames and borders color */

	.Recent_comments li, .Latest_posts li, .get_in_touch li.label, .pricing-box .plan-inside ul li, 
	.pricing-box, .ui-widget-header, #Content .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-panel,
	.ui-tabs .ui-tabs-nav li, .ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content, 
	.gallery .gallery-item .gallery-icon, .post .footer,
	#comments .commentlist > li .photo, #comments .commentlist > li, 
	#comments .commentlist li .comment-body, .Twitter ul li, .Flickr .flickr_badge_image a,
	.single-post .post .date, .pager, .single-portfolio .photo,
	.single-portfolio .sp-inside .sp-inside-right, table thead th, table tbody td, .widget ul.menu li a,
	.widget_links ul li a, .widget_meta ul li a, .our-offer .boxes .box.first, .our-offer .boxes .box.last, .testimonial .rslides_tabs li a,
	.pager a.page, .team .links a.link, .offer .header, .offer .box, 
	blockquote div.text, .single-post .tag-cat {
		border-color: #ebebeb;
	}
	
/* Buttons */
	a.button, input[type="submit"], input[type="reset"], input[type="button"],
	.widget_mfn_clients a.rslides_nav, .offer a.Offer_slider_prev, .offer a.Offer_slider_next {
		color: #326e9b;
	}
	
	a.button span, input[type="submit"] span, input[type="reset"] span, input[type="button"] span {
		color: #9DD3E8;
	}
	

/* Go to top */
	#Footer a#back_to_top {
		color: #000;
	}
	#Footer a:hover#back_to_top {
		color: #005274;
	}
	
/* Blog */
	.post .date {
		background: #73a7cf;
		color: #fff;
	}
	.post .desc .meta .year, .post .desc .meta i {
		color: #cce9ff;
	}
	.post .desc .meta .month {
		color: #385a75;
	}
	.post .desc .meta .comments, .post .desc .meta .comments a {
		background: #326e9b;
		color: #ddeffc;
	}
	
/* Footer headers and text */

			#Footer { background: #FBFBFB;}
	
	#Footer h1,
	#Footer h2,
	#Footer h3,
	#Footer h4,
	#Footer h5,
	#Footer h6  {
		color: #2a2f35;
	}
	
	#Footer, 
	#Footer .bottom_addons .menu_bottom > ul > li > a { 
		color: #717171;
	}
	
	#Footer a,
	#Footer .bottom_addons .menu_bottom > ul > li.active > a { 
		color: #41913c;
	}
	
	#Footer a:hover,
	#Footer .bottom_addons .menu_bottom > ul > li > a:hover { 
		color: #41913c;
	}
	
/* Footer strong */
	#Footer .Twitter li span, #Footer .copy strong, #Footer .Latest_posts ul li a.title, 
	#Footer .Latest_posts ul li p i, #Footer .Recent_comments ul li p strong,
	#Footer .Recent_comments ul li p i, #Footer .widget_calendar caption, #Footer strong {
		color: #2a2f35;
	}
	
/* Footer grey notes */
	#Footer .Twitter ul li > a, #Footer .Recent_comments li span.date, #Footer .Latest_posts span.date {
		color: #A6A6A6;
	}
	
/* Footer frames, background & border color */	
	#Footer .Twitter li, #Footer .Flickr .flickr_badge_image a, #Footer .Recent_comments ul li, 
	#Footer .Latest_posts ul li, #Footer .widget ul.menu li a, #Footer .widget_meta ul li a, 
	#Footer table thead th, #Footer table tbody td,
	.footer-included #Footer .container:first-child, .footer-included #Footer .container .column .widget {
		border-color: #e4dddd;
	}
	
/* Footer Buttons */
	#Footer a.button, #Footer input[type="submit"], #Footer input[type="reset"], #Footer input[type="button"], #Footer .widget_mfn_clients a.rslides_nav {
		color: #326e9b;
	}
	
	#Footer a.button span, #Footer input[type="submit"] span, #Footer input[type="reset"] span, #Footer input[type="button"] span {
		color: #9DD3E8;
	}
	
/* Call to action */
	.call_to_action {
		background: #326E9B;
	}
	
	.call_to_action h4 {
		color: #fff;
	}
	
	.call_to_action h4 span {
		color: #B7E8FF;
	}
	
	.call_to_action a.button {
		color: #fff !important;
	}
	
/* Faq & Accordion & Tabs */
	.accordion, .faq, .ui-tabs {
		background: #fbfbfb !important;
	}
	.accordion .question h5,.faq .question h5,
	.ui-tabs .ui-tabs-nav li a { 
		color: #515e6d;
	}
	.faq .active h5, .accordion .active h5 {
		color: #313131;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-active a {
		color: #313131;
		border-top: 4px solid #41913c;
	}
	.accordion .answer, .faq .answer, .faq .active h5, .accordion .active h5 {
		background: #fff;
	}
	.ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-active { 
		background-color: #fff !important; 
	}
	
/* Portfolio */	
	.portfolio_item a .ico i,
	.wp-caption .photo a i {
		color: #3FA8D2;
	}
	
	.portfolio_item h6 {
		color: #09526F;
	}
	
/* What we offer */
	.offer h3 {
		color: #53a3e0;
	}
	
	.offer h2 {
		color: #2a2f35;
	}
	
	.offer .box h5 a {
		color: #2a2f35;
	}
	
/* Content */
	.widget-area {
		background: #fcfcfc;
	}
	
/* Submenu */
	.widget ul.menu {
   		background: #FFFFFF;
   	}
	.widget ul.menu li a { 
		color: #475363 !important;
	}
	.widget ul.menu li.current_page_item a, 
	.widget ul.menu li a:hover {
		color: #fff !important; 
		background: #41913c !important;	
	}
	
/* Slider */
	#mfn-offer-slider ul.slider-wrapper > li .slide-desc h2 {
		color: #fff;
	}
	#mfn-offer-slider ul.slider-wrapper > li .slide-desc p {
		color: #ddd;
	}
	#mfn-offer-slider ul.slider-wrapper > li .slide-desc .button {
		color: #fff;
	}
	
/* Links like menu*/

.LinkMenu ul li a {font-family:Georgia,serif; font-size:large; padding:10px 15px; display:block; color:#fff; text-decoration:none; }
.LinkMenu ul li a:link {color:forestgreen;}
.LinkMenu ul li a:visited {color:seagreen;}
.LinkMenu ul li a:hover {text-decoration:none;color:yellowgreen;font-weight:bold;}
.LinkMenu ul li a:active {color:red;text-decoration: none}