/* WooCommerce Styles */

/* Woocommerce */
.woocommerce label, .woocommerce legend { font-weight: normal; }
.woocommerce ul.products { padding-top: 10px; }
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { text-align: center; margin-bottom: 20px !important; }
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 { font-size: 15px; line-height: 18px; margin-bottom: 0; padding: 5px 0; }
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img { -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }
.woocommerce ul.products li.product .star-rating { display: none; }
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { font-size: 16px; }
.woocommerce ul.products li.product a.added_to_cart { display: none; }
.woocommerce ul.products li.product a.add_to_cart_button { margin-bottom: 0 !important; }

/* Buttons */
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce input[type="submit"], .woocommerce input[type="reset"], .woocommerce input[type="button"] {
	display: inline-block; background: none; padding: 10px 15px; font-size: 14px; line-height: 14px; font-weight: bold; margin-bottom: 15px; border: 1px solid rgba(0, 0, 0, 0.10); text-transform: uppercase; -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; color: #326E9B; text-shadow:  none;
}
.woocommerce a:hover.button, .woocommerce-page a:hover.button, .woocommerce button:hover.button, .woocommerce-page button:hover.button, .woocommerce input:hover.button, .woocommerce-page input:hover.button, .woocommerce #respond input:hover#submit, .woocommerce-page #respond input:hover#submit, .woocommerce #content input:hover.button, .woocommerce-page #content input:hover.button, .woocommerce input[type="submit"]:hover, .woocommerce input[type="reset"]:hover, .woocommerce input[type="button"]:hover {
	text-decoration: none; border: 1px solid rgba(0, 0, 0, 0.25); background: none;
}

.woocommerce table.cart td.actions input.checkout-button, .woocommerce .shipping_calculator .shipping-calculator-form p button.button, .woocommerce div.product form.cart .button, .woocommerce .widget_shopping_cart .buttons a.checkout, .woocommerce #payment #place_order { background: #326E9B; color: #fff; text-shadow: none; border: 1px solid #245D85; -webkit-border-radius: 0px; border-radius: 0px; }

.woocommerce span.onsale{ min-height: 55px; min-width: 55px; font-size: 15px; font-weight: bold; text-align: center; position: absolute; line-height: 55px; -webkit-border-radius: 55px; -moz-border-radius: 55px; border-radius: 55px; background: #6dcfc6; text-shadow: none; color: #FFF; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; margin: 0; padding: 4px; margin: -6px -6px 0 0; }
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count { margin: 8px 0 0; }
.woocommerce .woocommerce-ordering { margin-bottom: 20px; }
.woocommerce .woocommerce-ordering select { margin-bottom: 0; }

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { color: #02C2DC; }
.woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price { color: #02C2DC; }
.woocommerce h2 { font-size: 25px; line-height: 25px; }

.woocommerce .variations_form { margin-bottom: 0; }
.woocommerce .variations td.label label { padding-top: 8px; }
.woocommerce .variations td.value select { margin-bottom: 0 !important }
.woocommerce .product_meta { margin-top: 15px; }


.woocommerce div.product div.summary h1.product_title { font-size: 35px; line-height: 40px; margin-bottom: 5px; }

.woocommerce div.product div.images img, .woocommerce-page div.product div.images img, 
.woocommerce #content div.product div.images img, 
.woocommerce-page #content div.product div.images img { -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }


.woocommerce table.shop_table th { background: url(../images/bg_table.png) repeat-x left top; }
.woocommerce .shop_table th.product-name, .woocommerce .shop_table td.product-name { text-align: left; }

.woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus { padding: 0; }


.woocommerce td.product-name dl.variation, .woocommerce-page td.product-name dl.variation { font-size: 14px; }
.woocommerce table.cart td.actions .coupon .input-text { padding: 12px 9px; text-align: center; }

.woocommerce #reviews #comments ol.commentlist li .comment-text p { padding-left: 0; }

.woocommerce div.product div.images div.thumbnails a { margin-bottom: 8px !important; }



/* Message */
.woocommerce-message a.button { margin-bottom: 0 !important; }

/* Cart */
.woocommerce .widget_shopping_cart .total { border-top: 0 !important; }
.woocommerce ul.cart_list li { border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt { margin-bottom: 0; }
.woocommerce table.cart a.remove { width: 26px; height: 26px; line-height: 22px; font-size: 19px; }

/* Product details */
.woocommerce div.product form.cart .variations_button .buttons_added .input-text { height: 32px !important; }
.woocommerce div.product form.cart .variations_button .buttons_added .plus, 
.woocommerce div.product form.cart .variations_button .buttons_added .minus { height: 18px !important; }

/* Payment */
.woocommerce #payment, .woocommerce-page #payment { background: none; }
.woocommerce .payment_methods li label { display: inline-block; }

/* Widgets */
.widget.woocommerce li img { -webkit-box-shadow: 0px 0px 0px !important; box-shadow: 0px 0px 0px !important; }

.widget_best_sellers li, .widget_featured_products li, .widget_recent_reviews li, .widget_recent_products li, .widget_recently_viewed_products li, .widget_random_products li, .widget_top_rated_products li, .widget_onsale li { border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
.widget_best_sellers li:last-child, .widget_featured_products li:last-child, .widget_recent_reviews li:last-child, .widget_recent_products li:last-child, .widget_recently_viewed_products li:last-child, .widget_random_products li:last-child, .widget_top_rated_products li:last-child, .widget_onsale li:last-child { border-bottom: 0; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle { border: 1px solid #915C89; }
/* Search */
.widget_product_search { position: relative; overflow: hidden; width: 190px; }
.widget_product_search form  { margin-bottom: 5px; position:relative; }
.widget_product_search form input[type="text"] { width: 140px; margin-bottom: 0; padding-right: 40px !important; }
.widget_product_search form input[type="submit"] { width: 34px; height: 31px; overflow: hidden; text-indent: -9999px; display: block; margin: 0; padding: 0 !important; border: 0; position: absolute; right: 0; bottom: 3px; -webkit-box-shadow: inset 0 0 0 0; box-shadow: inset 0 0 0 0; text-shadow: 0px 0px 0px; border: 0 !important; background: url(../images/search_submit.png) no-repeat !important; }


.woocommerce .quantity.buttons_added input.qty { height: 33px !important; }
.woocommerce .quantity.buttons_added input.plus, .woocommerce .quantity.buttons_added input.minus { height: 18px !important; }


@media only screen and (min-width: 768px) and (max-width: 959px) {
	.widget_product_search { width: 132px; }
	.widget_product_search form input[type="text"] { width: 80px; }	
}
@media only screen and (max-width: 767px) {
	.widget_product_search { width: 350px; }
	.widget_product_search form input[type="text"] { width: 300px; }	
}
@media only screen and (max-width: 479px) {
	.widget_product_search { width: 229px; }
	.widget_product_search form input[type="text"] { width: 179px; }
}

/* Quantity */
.woocommerce .quantity .plus, .woocommerce .quantity .minus { 
	display:block; padding:0 !important; margin:0; position:absolute; text-align:center; vertical-align:text-top; width: 20px; height: 15px;
	text-decoration: none; overflow: visible; text-decoration: none; font-weight: normal; cursor: pointer; line-height:13px; 
	font-size:12px;-webkit-border-radius:0px;-moz-border-radius: 0px;border-radius: 0px; color:#5e5e5e;
	text-shadow:0 1px 0 rgba(255,255,255,0.8);
	border:1px solid #c7c0c7; 
	background:#f7f6f7; 
	background:-webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#dfdbdf));
	background:-webkit-linear-gradient(#f7f6f7,#dfdbdf);
	background:-moz-linear-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
	background:-moz-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
	}

/* Related products */
.woocommerce .related ul.products li.product { width: 22%; }

/* Cart */
.woocommerce .widget_shopping_cart .buttons a { margin-bottom: 5px; padding: 9px 6px; font-size: 13px; }
.woocommerce ul.product_list_widget li .variation { padding-bottom: 3px; }
.woocommerce ul.product_list_widget li dl { font-size: 12px; line-height: 16px; }
.woocommerce ul.product_list_widget li dl dd { margin-bottom: 0; }
.woocommerce ul.cart_list li img { -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	.woocommerce .related ul.products li.product { width: 46%; margin-right:4%; }
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
		text-align: center;
		margin-bottom: 15px;
	}
	.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count, .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		width: 100%;
	}
	.woocommerce .woocommerce-ordering select {
		margin: 0 auto;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
		margin: 0 0 20px 0;
	}
	
	.woocommerce div.product div.images {
		width: 100% !important; float: none !important;
	}
	.woocommerce div.product div.summary {
		width: 100% !important; float: none !important;
	}
	
}